In [1]:
import pandas as pd
import numpy as np
import operator
import datetime
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
adolescent_birthrate = pd.read_csv('../data/adolescent birth rate by country.csv')
adolescent_birthrate1 = adolescent_birthrate.loc[adolescent_birthrate['Year'] >= 2010]
adol_bir_rate=  adolescent_birthrate1.dropna(subset = ['Adolescent birth rate (per 1000 women)'])
adol_bir_rate

          Country  Year Adolescent birth rate (per 1000 women)
0     Afghanistan  2017                                     62
1     Afghanistan  2014                               77.2 0.2
2     Afghanistan  2013                                 87 0.9
3     Afghanistan  2011                                    2.2
13        Albania  2019                               14.2 0.3
...           ...   ...                                    ...
2915     Zimbabwe  2016                                111 1.2
2916     Zimbabwe  2014                                110 1.7
2917     Zimbabwe  2013                                  120 1
2918     Zimbabwe  2012                              119.7 0.6
2919     Zimbabwe  2011                                118.8 1

[1418 rows x 3 columns]

In [3]:
adol_bir_rate['Year'].value_counts()

2010    155
2013    150
2012    150
2011    147
2015    144
2014    143
2017    141
2016    140
2018    121
2019     93
2020     34
Name: Year, dtype: int64

In [4]:
adol_bir_rate['Adolescent birth rate (per 1000 women)'].value_counts()

0           40
0.8          8
4.4 0        8
1.1          6
7.2 0        6
            ..
76.7 5.5     1
76.3 1.1     1
64 0.9       1
60           1
118.8 1      1
Name: Adolescent birth rate (per 1000 women), Length: 1123, dtype: int64

In [5]:
antenatal_coverage = pd.read_csv('../data/antenatal care coverage.csv')
antenatal_coverage['Year']= antenatal_coverage['Year'].str[-4:]

antenatal_coverage['Year'] = pd.to_numeric(antenatal_coverage['Year'], errors='coerce')
antenat_cover =  antenatal_coverage.dropna(subset = ['Antenatal care coverage - at least four visits (%)'])

antenat_cover['Year'] = antenat_cover['Year'].astype('int')

antenat_cover1 = antenat_cover.loc[antenat_cover['Year'] >= 2010]

antenat_cover1

         Country  Year Antenatal care coverage - at least four visits (%)
0    Afghanistan  2018                                               20.9
1    Afghanistan  2017                                               16.3
2    Afghanistan  2015                                               17.8
3    Afghanistan  2014                                               22.7
4    Afghanistan  2012                                                9.9
..           ...   ...                                                ...
835       Zambia  2014                                               55.5
840     Zimbabwe  2019                                               71.5
841     Zimbabwe  2015                                               75.7
842     Zimbabwe  2014                                               70.1
843     Zimbabwe  2011                                               64.8

[478 rows x 3 columns]

In [6]:
antenat_cover1['Year'].value_counts()

2012    56
2014    55
2013    53
2011    50
2010    49
2016    47
2017    42
2015    42
2018    41
2019    34
2020     9
Name: Year, dtype: int64

In [7]:
attended_births = pd.read_csv('../data/births attended by skilled health personnel -filtered.csv')
attended_births['Year']= attended_births['Year'].str[-4:]

attended_births['Year'] = pd.to_numeric(attended_births['Year'], errors='coerce')
births_attended =  attended_births.dropna(subset = ['Births attended by skilled health personnel (%)'])

births_attended['Year'] = births_attended['Year'].astype('int')

births_attended1 = births_attended.loc[births_attended['Year'] >= 2010]

births_attended1

          Country  Year  Births attended by skilled health personnel (%)
0     Afghanistan  2020                                             61.8
1     Afghanistan  2018                                             58.8
2     Afghanistan  2017                                             53.4
3     Afghanistan  2015                                             50.5
4     Afghanistan  2014                                             45.2
...           ...   ...                                              ...
2069       Zambia  2014                                             63.3
2072     Zimbabwe  2019                                             86.0
2073     Zimbabwe  2015                                             78.1
2074     Zimbabwe  2014                                             80.0
2075     Zimbabwe  2011                                             66.2

[1055 rows x 3 columns]

In [8]:
births_attended1['Year'].value_counts()

2014    116
2010    111
2012    109
2011    108
2013    102
2015    101
2016     99
2017     92
2018     91
2019     81
2020     41
2021      4
Name: Year, dtype: int64

In [9]:
cesarean = pd.read_csv('../data/births by cesarean filtered.csv')

cesarean['Year']= cesarean['Year'].str[-4:]

cesarean['Year'] = pd.to_numeric(cesarean['Year'], errors='coerce')
cesarean_births =  cesarean.dropna(subset = ['Births by caesarean section (%)'])

cesarean_births['Year'] = cesarean_births['Year'].astype('int')

cesarean_births1 = cesarean_births.loc[cesarean_births['Year'] >= 2010]

cesarean_births1

         Country  Year Births by caesarean section (%)
0    Afghanistan  2015                             2.7
1        Albania  2013                            34.1
2        Algeria  2013                              16
3         Angola  2016                             3.7
4      Argentina  2011                            29.1
..           ...   ...                             ...
168      Vanuatu  2013                            11.9
170     Viet Nam  2014                            27.5
171        Yemen  2013                             4.8
172       Zambia  2014                             4.4
173     Zimbabwe  2015                             5.8

[163 rows x 3 columns]

In [10]:
cesarean_births['Year'].value_counts()

2016    38
2015    33
2014    32
2012    22
2013    20
2011     8
2010     8
2009     5
2007     4
2006     2
2017     2
Name: Year, dtype: int64

In [11]:
family_planning = pd.read_csv('../data/family planning needs satisfied -filtered.csv')

family_planning1 = family_planning[['Country','Year','Women of reproductive age (15−49 years) who are married or in-union who have their need for family planning satisfied with modern methods (%), UNPD']]
family_planning1['Year']= family_planning1['Year'].str[-4:]

family_planning1['Year'] = pd.to_numeric(family_planning1['Year'], errors='coerce')

fam_planning_satisfied =  family_planning1.dropna(subset = ['Women of reproductive age (15−49 years) who are married or in-union who have their need for family planning satisfied with modern methods (%), UNPD'])

fam_planning_satisfied['Year'] = fam_planning_satisfied['Year'].astype('int')

fam_planning_satisfied1 = fam_planning_satisfied.loc[fam_planning_satisfied['Year'] >= 2010]

fam_planning_satisfied1

C:\Users\beena\AppData\Local\Temp\ipykernel_10084\1360620896.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_planning1['Year']= family_planning1['Year'].str[-4:]
C:\Users\beena\AppData\Local\Temp\ipykernel_10084\1360620896.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_planning1['Year'] = pd.to_numeric(family_planning1['Year'], errors='coerce')
C:\Users\beena\AppData\Local\Temp\ipykernel_10084\1360620896.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fam_planning_satisfied['Year'] = fam_planning_satisfied['Year'].astype('int')

,Country,Year,"Women of reproductive age (15−49 years) who are married or in-union who have their need for family planning satisfied with modern methods (%), UNPD"
0,Afghanistan,2020,45.6
1,Afghanistan,2019,44.6
2,Afghanistan,2018,43.6
3,Afghanistan,2017,42.8
4,Afghanistan,2016,42.0
...,...,...,...
9466,Zimbabwe,2014,83.1
9467,Zimbabwe,2013,81.7
9468,Zimbabwe,2012,80.3
9469,Zimbabwe,2011,79.0
9471,Zimbabwe,2010,78.2

In [12]:
fam_planning_satisfied1['Year'].value_counts()

2020    184
2019    184
2018    184
2017    184
2016    184
2015    184
2014    184
2013    184
2012    184
2011    184
2010    184
Name: Year, dtype: int64

In [13]:
mutilation = pd.read_csv('../data/genital mutilation filtered.csv')

mutilation['Year']= mutilation['Year'].str[-4:]

mutilation['Year'] = pd.to_numeric(mutilation['Year'], errors='coerce')
genital_mutilation =  mutilation.dropna(subset = ['Proportion of girls and women aged 15-49 years who have undergone female genital mutilation/cutting (FMG/C) (%)'])

genital_mutilation['Year'] = genital_mutilation['Year'].astype('int')

genital_mutilation1 = genital_mutilation.loc[genital_mutilation['Year'] >= 2010]

genital_mutilation1

,Country,Year,Proportion of girls and women aged 15-49 years who have undergone female genital mutilation/cutting (FMG/C) (%)
0,Benin,2014,9.2 16.2 13.5 10.3 6.6 2.3 5.2 13.1
1,Burkina Faso,2010,75.8 77.3 78.1 77.8 79.6 68.5 68.7 78.4
3,Central African Republic,2010,24.2 33.6 31.2 26.0 17.2 14.9 18.1 28.7
4,Chad,2015,38.4 46.1 42.0 37.0 30.3 37.3 40.1 37.9
5,Côte d'Ivoire,2016,36.7 50.0 44.2 43.3 34.3 20.0 30.8 43.8
6,Egypt,2015,87.2 94.4 92.6 92.2 87.2 69.8 77.4 92.6
7,Eritrea,2010,83.0 89.4 85.6 84.4 83.3 75.2 80.0 85.0
8,Ethiopia,2016,65.2 65.0 69.3 69.0 68.6 57.3 53.9 68.4
9,Gambia,2013,74.9 79.3 77.6 82.2 73.0 66.1 71.6 79.1
10,Ghana,2011,3.8 12.8 4.1 2.7 1.4 1.1 2.5 5.3
11,Guinea,2016,96.8 98.2 97.3 96.9 95.9 96.0 95.8 97.5
12,Guinea-Bissau,2014,44.9 17.9 59.1 65.4 47.2 36.1 39.8 50.1
13,Iraq,2011,8.1 9.8 12.1 9.6 5.5 4.2 9.0 5.8
14,Kenya,2014,21.0 39.8 26.0 17.8 17.2 12.0 13.8 25.9
15,Liberia,2013,49.8 69.5 65.2 56.8 40.6 29.1 40.8 64.8
16,Mali,2015,82.7 63.8 84.0 87.9 88.8 86.8 84.8 82.0
17,Mauritania,2015,66.6 91.8 85.9 70.1 60.1 36.6 55.2 79.0
18,Niger,2012,2.0 1.7 1.7 2.4 3.0 1.0 1.2 2.1
19,Nigeria,2016,18.4 9.9 14.6 19.0 22.9 23.3 23.4 15.6
20,Senegal,2016,23.5 42.9 31.2 23.8 16.0 10.3 18.5 28.1
21,Sierra Leone,2013,89.6 94.8 94.5 94.9 90.3 76.9 80.9 94.3
23,Sudan,2014,86.6 88.0 81.7 80.7 90.0 91.6 85.5 87.2
24,Togo,2014,4.7 8.2 5.1 5.2 4.1 2.3 3.4 5.7
25,Uganda,2011,1.4 2.2 1.2 1.2 1.0 1.5 1.4 1.4
26,United Republic of Tanzania,2016,10.0 18.6 10.3 11.7 8.8 4.4 5.3 12.7
27,Yemen,2013,18.5 26.5 21.0 13.3 19.5 14.0 17.1 19.2

In [14]:
genital_mutilation1['Year'].value_counts()

2016    6
2014    5
2015    4
2013    4
2010    3
2011    3
2012    1
Name: Year, dtype: int64

In [15]:
before15 = pd.read_csv('../data/in marriage before 15 yrs filtered.csv')
before15 = before15.rename(columns = {'Unnamed: 0': 'Country'})
before15['Year'] = 2017 
before15['Year'] = pd.to_numeric(before15['Year'], errors='coerce')
before15['Year'] = before15['Year'].astype('int')
in_union =  before15.dropna()
in_union

,Country,Proportion of women aged 20-24 years who were married or in a union by age 15 (%)(2010-2017),Proportion of women aged 20-24 years who were married or in a union by age 18 (%)(2010-2017),Year
0,Afghanistan,9,35,2017
1,Albania,0,10,2017
2,Algeria,0,3,2017
3,Angola,8,30,2017
4,Armenia,0,5,2017
...,...,...,...,...
119,Vanuatu,3,21,2017
120,Viet Nam,1,11,2017
121,Yemen,9,32,2017
122,Zambia,6,31,2017
123,Zimbabwe,4,32,2017

In [16]:
in_union['Year'].value_counts()

2017    124
Name: Year, dtype: int64

In [17]:
hospital_birth = pd.read_csv('../data/institutional births.csv')


hospital_birth['Year']= hospital_birth['Year'].str[-4:]

hospital_birth['Year'] = pd.to_numeric(hospital_birth['Year'], errors='coerce')
hospital_birth =  hospital_birth.dropna(subset = ['Institutional Births (birth taken place in a facility) (%)'])

hospital_birth['Year'] = hospital_birth['Year'].astype('int')

hospital_birth1 = hospital_birth.loc[hospital_birth['Year'] >= 2010]

hospital_birth1

,Country,Year,Institutional Births (birth taken place in a facility) (%)
0,Afghanistan,2018,56.3
1,Afghanistan,2017,50.5
2,Afghanistan,2015,48.1
3,Afghanistan,2014,42.8
4,Afghanistan,2012,36
...,...,...,...
1698,Zambia,2014,67.4
1703,Zimbabwe,2019,85.5
1704,Zimbabwe,2015,77
1705,Zimbabwe,2014,79.6
1706,Zimbabwe,2011,65.1

In [18]:
hospital_birth1['Year'].value_counts()

2014    88
2012    86
2010    83
2016    81
2011    77
2015    76
2013    74
2017    70
2018    63
2019    10
Name: Year, dtype: int64

In [19]:
stillbirth = pd.read_csv('../data/stillbirthrate filtered.csv')
stillbirth.columns

Index(['Unnamed: 0', 'Stillbirth rate (per 1000 total births)',
       'Stillbirth rate (per 1000 total births).1',
       'Stillbirth rate (per 1000 total births).2',
       'Stillbirth rate (per 1000 total births).3',
       'Stillbirth rate (per 1000 total births).4',
       'Stillbirth rate (per 1000 total births).5',
       'Stillbirth rate (per 1000 total births).6',
       'Stillbirth rate (per 1000 total births).7',
       'Stillbirth rate (per 1000 total births).8',
       'Stillbirth rate (per 1000 total births).9',
       'Stillbirth rate (per 1000 total births).10',
       'Stillbirth rate (per 1000 total births).11',
       'Stillbirth rate (per 1000 total births).12',
       'Stillbirth rate (per 1000 total births).13',
       'Stillbirth rate (per 1000 total births).14',
       'Stillbirth rate (per 1000 total births).15',
       'Stillbirth rate (per 1000 total births).16',
       'Stillbirth rate (per 1000 total births).17',
       'Stillbirth rate (per 1000 total births).18',
       'Stillbirth rate (per 1000 total births).19'],
      dtype='object')

In [20]:
stillbirth = stillbirth.drop(columns = ['Stillbirth rate (per 1000 total births).10',
                                         'Stillbirth rate (per 1000 total births).11',
                                         'Stillbirth rate (per 1000 total births).12',
                                         'Stillbirth rate (per 1000 total births).13',
                                         'Stillbirth rate (per 1000 total births).14',
                                         'Stillbirth rate (per 1000 total births).15',
                                         'Stillbirth rate (per 1000 total births).16',
                                         'Stillbirth rate (per 1000 total births).17',
                                         'Stillbirth rate (per 1000 total births).18',
                                         'Stillbirth rate (per 1000 total births).19'])
stillbirth

,Unnamed: 0,Stillbirth rate (per 1000 total births),Stillbirth rate (per 1000 total births).1,Stillbirth rate (per 1000 total births).2,Stillbirth rate (per 1000 total births).3,Stillbirth rate (per 1000 total births).4,Stillbirth rate (per 1000 total births).5,Stillbirth rate (per 1000 total births).6,Stillbirth rate (per 1000 total births).7,Stillbirth rate (per 1000 total births).8,Stillbirth rate (per 1000 total births).9
0,Country,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
1,Afghanistan,28.4,28.9,29.4,29.9,30.3,30.7,31.1,31.7,32.1,32.6
2,Albania,4.1,4.0,4.0,3.9,3.9,4.0,4.1,4.3,4.4,4.5
3,Algeria,9.5,9.5,9.4,9.4,9.7,10.1,10.6,11.1,11.5,12.1
4,Andorra,2.1,2.1,2.2,2.3,2.3,2.4,2.4,2.5,2.5,2.6
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),9.4,9.3,9.3,9.4,9.3,8.6,8.7,8.9,8.9,8.8
191,Viet Nam,7.8,8.0,8.1,8.3,8.4,8.7,8.9,9.2,9.4,9.6
192,Yemen,23.7,23.8,23.9,23.8,23.5,23.1,22.6,22.3,22.0,22.0
193,Zambia,14.8,14.9,15.1,15.4,15.7,16.0,16.2,16.4,16.8,17.3
194,Zimbabwe,16.0,15.9,16.0,16.6,17.6,19.4,21.3,22.2,23.0,23.7

In [27]:
still_birth = stillbirth.rename(columns = {
    'Unnamed: 0': 'Country',
    'Stillbirth rate (per 1000 total births)':'Stillbirth rate (per 1000 total births)2019',
    'Stillbirth rate (per 1000 total births).1': 'Stillbirth rate (per 1000 total births)2018',                             
    'Stillbirth rate (per 1000 total births).2': 'Stillbirth rate (per 1000 total births)2017',    
    'Stillbirth rate (per 1000 total births).3': 'Stillbirth rate (per 1000 total births)2016',
    'Stillbirth rate (per 1000 total births).4': 'Stillbirth rate (per 1000 total births)2015',
    'Stillbirth rate (per 1000 total births).5': 'Stillbirth rate (per 1000 total births)2014',
    'Stillbirth rate (per 1000 total births).6': 'Stillbirth rate (per 1000 total births)2013', 
    'Stillbirth rate (per 1000 total births).7': 'Stillbirth rate (per 1000 total births)2012', 
    'Stillbirth rate (per 1000 total births).8': 'Stillbirth rate (per 1000 total births)2011', 
    'Stillbirth rate (per 1000 total births).9': 'Stillbirth rate (per 1000 total births)2010' 
                            })
still_birth

,Country,Stillbirth rate (per 1000 total births)2019,Stillbirth rate (per 1000 total births)2018,Stillbirth rate (per 1000 total births)2017,Stillbirth rate (per 1000 total births)2016,Stillbirth rate (per 1000 total births)2015,Stillbirth rate (per 1000 total births)2014,Stillbirth rate (per 1000 total births)2013,Stillbirth rate (per 1000 total births)2012,Stillbirth rate (per 1000 total births)2011,Stillbirth rate (per 1000 total births)2010
0,Country,2019.0,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
1,Afghanistan,28.4,28.9,29.4,29.9,30.3,30.7,31.1,31.7,32.1,32.6
2,Albania,4.1,4.0,4.0,3.9,3.9,4.0,4.1,4.3,4.4,4.5
3,Algeria,9.5,9.5,9.4,9.4,9.7,10.1,10.6,11.1,11.5,12.1
4,Andorra,2.1,2.1,2.2,2.3,2.3,2.4,2.4,2.5,2.5,2.6
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),9.4,9.3,9.3,9.4,9.3,8.6,8.7,8.9,8.9,8.8
191,Viet Nam,7.8,8.0,8.1,8.3,8.4,8.7,8.9,9.2,9.4,9.6
192,Yemen,23.7,23.8,23.9,23.8,23.5,23.1,22.6,22.3,22.0,22.0
193,Zambia,14.8,14.9,15.1,15.4,15.7,16.0,16.2,16.4,16.8,17.3
194,Zimbabwe,16.0,15.9,16.0,16.6,17.6,19.4,21.3,22.2,23.0,23.7

In [65]:
still_birth['Year']= '2019'
still_birth2019 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2019']]

In [66]:
still_birth.columns

Index(['Country', 'Stillbirth rate (per 1000 total births)2019',
       'Stillbirth rate (per 1000 total births)2018',
       'Stillbirth rate (per 1000 total births)2017',
       'Stillbirth rate (per 1000 total births)2016',
       'Stillbirth rate (per 1000 total births)2015',
       'Stillbirth rate (per 1000 total births)2014',
       'Stillbirth rate (per 1000 total births)2013',
       'Stillbirth rate (per 1000 total births)2012',
       'Stillbirth rate (per 1000 total births)2011',
       'Stillbirth rate (per 1000 total births)2010', 'Year'],
      dtype='object')

In [67]:
still_birth['Year']= '2018'
still_birth2018 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2018']]
still_birth['Year']= '2017'
still_birth2017 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2017']]
still_birth['Year']= '2016'
still_birth2016 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2016']]
still_birth['Year']= '2015'
still_birth2015 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2015']]
still_birth['Year']= '2014'
still_birth2014 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2014']]
still_birth['Year']= '2013'
still_birth2013 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2013']]
still_birth['Year']= '2012'
still_birth2012 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2012']]
still_birth['Year']= '2011'
still_birth2011 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2011']]
still_birth['Year']= '2010'
still_birth2010 = still_birth[['Country','Year','Stillbirth rate (per 1000 total births)2010']]

In [68]:
stillbirth_concated = pd.concat([still_birth2010, 
                                 still_birth2011,
                                 still_birth2012,
                                 still_birth2013,
                                 still_birth2014,
                                 still_birth2015,
                                 still_birth2016,
                                 still_birth2017,
                                 still_birth2018,
                                 still_birth2019])
stillbirth_concated

,Country,Year,Stillbirth rate (per 1000 total births)2010,Stillbirth rate (per 1000 total births)2011,Stillbirth rate (per 1000 total births)2012,Stillbirth rate (per 1000 total births)2013,Stillbirth rate (per 1000 total births)2014,Stillbirth rate (per 1000 total births)2015,Stillbirth rate (per 1000 total births)2016,Stillbirth rate (per 1000 total births)2017,Stillbirth rate (per 1000 total births)2018,Stillbirth rate (per 1000 total births)2019
0,Country,2010,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2010,32.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,2010,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,2010,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,2010,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4
191,Viet Nam,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8
192,Yemen,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.7
193,Zambia,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
194,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0

In [22]:
merged1 = pd.merge(antenatal_coverage, attended_births, how = 'left', on = 'Country')

In [23]:
merged2 = pd.merge(merged1,cesarean, how = 'left', on = 'Country')

In [24]:
merged3 = pd.merge(merged2,family_planning_satisfied, how = 'left', on = 'Country')
merged3

NameError: name 'family_planning_satisfied' is not defined

In [ ]:
merged4 = pd.merge(merged3,mutilation, how = 'left', on = 'Country')
merged4

In [ ]:
merged5 = pd.merge(merged4,hospital_birth, how = 'left', on = 'Country')
merged5

In [ ]:
merged5.info()

In [ ]:
merged5_filtered1 = merged5.loc[merged5['Year_x'] < 2010]